 <html>
 <head>
 <title>{{.PageTitle}}</title>

<style>
table.equation {
	margin: auto;
	width: 200px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
}
table.equation td {
	text-align: right;
	font-weight: bold;
	font-size: 42px;
}

</style>
 </head>
 
<body>

<h1>{{.PageTitle}}<h1>
                 

		<table class="equation">
			<tr>
				<td><div id='n1'>{{.N1}}</div><td>
				<td><div id='symbol'>{{.Symbol}}</div><td>
				<td><div id='n2'>{{.N2}}</div><td>
				<td><div id='equals'>{{.Equals}} </div><td>
				<td><div id='result'>{{.Result}}</div><td>
			</tr>
		</table>
<pre>
{{.Error}}
</pre>
 
</body>
</html>

