{{define "content"}}
<!-- Content -->
	      <p id='prompt'>Please login!</p>

    <form id='login_form' action="/login" method="post">
        <table>
        <tr>
        <td>Username:</td>
                        <td><input id='username' type="text" name="username" value="{{.UserName}}">
            </td>
                </tr><tr>
            <td>Password:</td>
                        <td><input id='password' type="password" name="password" value="{{.Password}}">
            </td>
            </tr>
            <td></td>
            <td><input id='submitLogin' type="submit" value="Login">
        </td>
    </tr>
</table>
</form>

<div id='usage' style="color:red">
{{.Error}}
</div>
{{end}}
