{{define "content"}}	      
<!-- Content -->
	      <p id='prompt'>You are Logged in as {{.UserName}}</p>

    <form id='logout_form' action="/logout" method="post">
            <td><input id='submitLogout' type="submit" value="Logout">
        </td>
    </tr>
</table>
</form>

<div id='usage' style="color:red">
{{.Error}}
</div>
{{end}}
