{{define "content"}}	      
<!-- Content -->

		<table>
		<tr>
		<td>Name</td><td id="name">{{.Name}}</td>
		 </tr><tr>
		<td>DOB</td><td id="dob">{{.DOB}}</td>
		 </tr><tr>
		<td>Interests</td><td id="interest">{{.Interest}}</td>
		 </tr><tr>
		<td>Subject</td><td id="subject">{{.Subject}}</td>
		 </tr><tr>
		<td>Photo</td><td><img id="photo" src="/assets/{{.Photo}}" height="100px"></td>
		 </tr>
		 <tr>
        <td>Description:</td>
        <td id="description">{{.Description}}
        </td>
    </tr>
		 </table>

<p>&nbsp;</p>
<p><a id="editLink"  href="/editProfile?name={{.Name}}">Edit Profile</a></p>

<div id='usage' style="color:red">
</div>
{{end}}
