{{define "content"}}
<!-- Content -->

        <form id='profile_form' action="/profile" method="post" enctype="multipart/form-data">
	<input type="hidden" name="status" value="{{.Status}}">
	<input id="name" type="hidden" name="name" value="{{.Name}}">
        <table>
        <tr>
        <td>
            Name:
            </td>
            <td>{{.Name}}
            </td>
            </tr>
            <tr>
            <td>
            DOB: </td>
            <td><input id='day' type="text" name="day" size="2" value="{{.Day}}">/<input id='month' type="text" name="month" size="2" value="{{.Month}}">/<input id='year' type="text" name="year" size="4" value="{{.Year}}">
            </td>
            </tr>
            <tr>
            <td>Favourite Sports </td>
            <td><input id='interest' type="text" name="interest" value="{{.Interest}}">
    </td>
    </tr>
    <tr>
        <td>Subject:</td>
            <td><input id='subject' type="text" name="subject" value="{{.Subject}}">
        </td>
    </tr>
    <tr>
        <td>Photo</td>
        <td>
	<img src="/assets/{{.Photo}}" height="100px">
           <input id='photo' type="file" id="photo" name="photo" size="40">
        </td>
    </tr>
    <tr>
        <td>Description:</td>
	<td><textarea id='description' name="description">{{.Description}}</textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input id='profileSubmit' type="submit" value="Go">
        </td>
    </tr>
    </table>
        </form>


<div id='usage' style="color:red">
{{.Error}}
</div>
{{end}}
