<table id="error">
<tr>
	<th id="usage">USAGE</th>
</tr>
<tr>
	<td id="usageadd">add/x/y</td>
	<td id="usagesubtract">/subtract/x/y</td>
	<td id="usagemultiply">multiply/x/y</td>
	<td id="usagedivide">/divide/x/y</td>
</tr>
</table>
